# Ignore the created binaries
bin/

# Ignore the clangd cache
.cache/

# Ignore all clang configuration files and compilation settings
.clang*
commpile_commands.json
.bear-config.json

.vscode/
!.vscode/launch.json